@using Microsoft.EntityFrameworkCore;
@using RosreestDocks.Contexts
@using System;
@using Microsoft.AspNetCore.Identity
@using RosreestDocks.Helpers

@inject UserManager<User> UserManager
@inject DataBaseContext db

<title>Росимущество</title>


@{
    ViewHelper viewHelper = new();
    var userid = UserManager.GetUserId(User);
 
    var newlist = db.Request.Include(a => a.Status).Where(x => x.DockType.Id == 1).Where(x => x.Status.Id != 5).Where(x=>x.CreateUser.Id == userid).OrderBy(o => o.DocName).ToList(); // Н/А
    var letterlist = db.Request.Include(a => a.Status).Where(x => x.DockType.Id == 2).Where(x => x.Status.Id != 5).Where(x=>x.CreateUser.Id  == userid).OrderBy(o => o.DocName).ToList(); //письмо
    var zaproslist = db.Request.Include(a => a.Status).Where(x=>x.DockType.Id == 3).Where(x => x.Status.Id != 5).Where(x=>x.CreateUser.Id  == userid).OrderBy(o=>o.DocName).ToList(); //запрос ЦА 
    var rasporlist = db.Request.Include(a => a.Status).Include(a=>a.RecipientAgency).Include(a=>a.TransferAgency)
                    .Where(x=>x.DockType.Id == 4 || x.DockType.Id == 5).Where(x => x.Status.Id != 5).Where(x=>x.CreateUser.Id == userid)
                    .OrderBy(o=>o.DocName).OrderBy(o=>o.Status).ToList(); //распоряжения

    var notes = db.Notes.Include(x=>x.Importance).Where(x=>x.Creator.Id == userid).ToList();
}
<!-- CHARTS -->
@await Html.PartialAsync("/Views/Data/Modal/Partial/_ChartsPartial.cshtml")
<!-- ALL NOTES -->
@await Html.PartialAsync("/Views/Data/Modal/Partial/_NotesModal.cshtml",notes)


<div class="container-flex">
    <div class="row">
        <div class="col-4">
            <h3 class="h3_index"><i class="fas fa-exclamation-triangle"></i>Без ответа  <span class="badge rounded-pill badge-notification bg-primary text-white">@newlist.Count()</span></h3>
            <details>
                <summary>Подробнее</summary> 
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:20%;">#</th>        
                            <th scope="col" style="width:20%;">Статус</th>   
                            <th scope="col" style="width:25%;">ВР</th>   
                            <th scope="col" style="width:35%;">Отправленный</th>
                        </tr>
                    </thead>
                <tbody>
                           @{foreach(var a in newlist) {
                           <tr>
                               <td> <a href="/data/editappealconsider/@a.Id">@a.DocName</a> </td>
                               <td>@a.Status.Name</td>
                               <td>@a.WorkNumber</td>
                               <td>@a.SendNumber</td>
                           </tr>
                           } }              
                </tbody>
                </table>
            </details>
        </div>
        <div class="col-4">
            <h3 class="h3_index"><i class="fas fa-envelope"></i>Письма  <span class="badge rounded-pill badge-notification bg-primary text-white">@letterlist.Count()</span> </h3>
            <details>
                <summary>Подробнее</summary> 
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:20%;">#</th>        
                            <th scope="col" style="width:20%;">Статус</th>   
                            <th scope="col" style="width:25%;">ВР</th>   
                            <th scope="col" style="width:35%;">Отправленный</th>
                        </tr>
                    </thead>
                    <tbody>
                               @{foreach(var a in letterlist) {
                               <tr>
                                   <td> <a href="/data/editappealconsider/@a.Id">@a.DocName</a> </td>
                                   <td>@a.Status.Name</td>
                                   <td>@a.WorkNumber</td>
                                   <td>@a.SendNumber</td>
                               </tr>
                               } }              
                    </tbody>
                </table>
            </details>
        </div>
        <div class="col-4">
            <h3 class="h3_index"><i class="fas fa-sync"></i>Запросы ЦА  <span class="badge rounded-pill badge-notification bg-primary text-white">@zaproslist.Count()</span></h3>
            <details>
                <summary>Подробнее</summary> 
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:20%;">#</th>        
                            <th scope="col" style="width:20%;">Статус</th>   
                            <th scope="col" style="width:25%;">ВР</th>   
                            <th scope="col" style="width:35%;">Отправленный</th>
                        </tr>
                    </thead>
                    <tbody>
                               @{foreach(var a in zaproslist) {
                               <tr>
                                   <td> <a href="/data/editappealconsider/@a.Id">@a.DocName</a> </td>
                                   <td>@a.Status.Name</td>
                                   <td>@a.WorkNumber</td>
                                   <td>@a.SendNumber</td>
                               </tr>
                               } }              
                    </tbody>
                </table>
            </details>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div class="col-12">
            <h3 class="h3_index"><i class="fas fa-scroll"></i>Распоряжения  <span  class="badge rounded-pill badge-notification bg-primary text-white">@rasporlist.Count()</span></h3>
            <details>
                <summary>Подробнее</summary> 
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:5%;">#</th> 
                            <th scope="col" style="width:50%;">Организации</th>  
                            <th scope="col" style="width:10%;">Статус</th>   
                            <th scope="col" style="width:10%;">ВР</th>   
                            <th scope="col" style="width:15%;">Распоряжение</th>
                            <th scope="col" style="width:10%;">Cопровод</th>
                        </tr>
                    </thead>
                <tbody>
                           @{
                            foreach(var a in rasporlist) {
                            <tr>
                               <td> <a href="/data/editappealconsider/@a.Id">@a.DocName</a> </td>
                               <td style="font-size:9px;">@viewHelper.GetAgencyName(a.TransferAgency) <br> ------- <br>  @viewHelper.GetAgencyName(a.RecipientAgency)</td>
                               <td>@a.Status.Name</td>
                               <td>@a.WorkNumber</td>
                               <td>@a.SendNumber</td>
                               <td>@a.SoprovodNumber</td>
                           </tr>
                           } }              
                </tbody>
                </table>
            </details>
        </div>
    </div>
</div>



<script src="~/js/jquery.min.js"></script>


<!-- COMPLETE NOTE MODAL -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="completeModalLabel"></h5>
          </div>
          <input type="hidden" id="noteid"/>
          <div class="modal-footer">
          <input type="submit"  class="btn btn-primary button-main"  onclick="RemoveNote()" value="Ну типа"/>
        </div>
    </div>
    </div>
</div>



<!-- ADD NOTE -->

@{
    NoteModel notemodel = new();
    notemodel.ImportanceList = db.Importance.ToSelectListItem(null);
}

@await Html.PartialAsync("/Views/Data/Modal/Partial/_AddNoteModal.cshtml",notemodel)