@model List<User>


@{
    ViewData["Title"] = "Users";
}

@{
    string Name = "User";
    string Controller = "Administrator";
    string ActionNameForUpdate = "ShowUpdate" + Name +"Modal";
    string modal = "update" +Name+ "Modal";
    string content = "update" + Name + "Content";
    string removeaction = "Remove" + Name;
}

   <h3 class="text-center category">Пользователи</h3>
   <hr class="line-h1" >
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col" style="width:30%;">#</th>
            <th scope="col" style="width:15%;">Имя</th>
            <th scope="col" style="width:15%;">Email</th>
            <th scope="col" style="width:10%;">Роль</th>
            <th scope="col" style="width:20%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id </td>
                <td> @user.UserName </td>
                <td>@user.Email </td>
                <td>@user.RoleName </td>
                <td class="align-middle">
                    <button class="btn btn-outline-primary btn-sm update" asp-controller="Administrator" data-name="@Name" asp-action="@ActionNameForUpdate" asp-route-id="@user.Id" >Правка</button>
                    <button type="button" class="btn btn-outline-danger btn-sm"
                            data-toggle="modal" data-target="#comfirmDelete" data-action="@removeaction" data-name="пользователя" data-name="@Controller"
                            data-item="@user.Id">Удалить </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Update Role-->
<div id="@modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="@content" class="modal-dialog"></div>
</div>

<!-- Model Comfirm Delete  -->
<div class="bd-example">
    <div class="modal fade" id="comfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <form method="post">
                        <input type="hidden" id="itemId" />
                        <input type="hidden" id="itemClass" />
                        <button id="modalDeleteButton"
                                type="submit"
                                class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>