@model List<RequestModel>
@using Microsoft.AspNetCore.Identity
@using RosreestDocks.Helpers

@inject UserManager<User> UserManager

@{
    string Name = "Appeals";
    string Controller = "Data";
    string removeaction = "Remove" + Name;
    ViewHelper viewHelper = new();
}
<title>Все обращения</title>

<div class="text-center">
    <h1 class="display-7">Все обращения</h1>
</div>


   <hr class="line-h1" >

    <table id="appealtable" class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width:5%;">#</th> 
            <th scope="col" style="width:5%;">От</th>  
            <th scope="col" style="width:10%;">Вр и отправленный</th>   
            <th scope="col" style="width:10%;">Статус</th>  
            <th scope="col" style="width:10%;">Срок</th>
            <th scope="col" style="width:30%;">Организации</th>
            <th scope="col" style="width:5%;">Создано</th>
            <th scope="col" style="width:5%;">Bcgjkybntkm</th>
            <th scope="col" style="width:15%;"></th>
            <th scope="col" style="width:0%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appeal in Model)
        {
            <tr>
                <td>№ @appeal.DocName</td>
                <td>
                    <span style="display:none">@Convert.ToDateTime(@appeal.DocDate.ToShortDateString()).ToString("yyyy/MM/dd")</span>
                    @appeal.DocDate.ToShortDateString()
                 </td>
                <td>Вр-@appeal.WorkNumber <br>№ @appeal.SendNumber </td>
                <td>@appeal.Status.Name <br> @appeal.DockType.Name </td>
                <td>
                    @{
                    var a = @viewHelper.GetColor(appeal.ExpireDate);
                        if(appeal.Status.Id == 5)
                        {
                            a[0] = "rgba(43, 169, 114, 0.2)";
                            a[1] = "#2ba972";
                            a[2] = "Закрыт";
                        }

                    }

                    <div style="background-color:@a[0]; color:@a[1]; padding:5px; border-radius:5px;">
                         <b>@appeal.ExpireDate.ToShortDateString()</b>
                         <p style="margin-bottom: 0;">(@a[2])</p>
                    </div>     
                 </td>
                <td>@{
                        var recname = "";
                        if (String.IsNullOrEmpty(appeal.RecipientAgency.ShortName))
                            recname = appeal.RecipientAgency.Name;
                        else recname = appeal.RecipientAgency.ShortName;
                    }
                    @{
                        var trname = "";
                        if (String.IsNullOrEmpty(appeal.TransferAgency.ShortName))
                            trname = appeal.TransferAgency.Name;
                        else trname = appeal.TransferAgency.ShortName;
                    }
                    1. @recname <br> 2. @trname </td>
                <td>
                    <span style="display:none">@Convert.ToDateTime(appeal.CreationDate).ToString("yyyy/MM/dd")</span>
                    @appeal.CreationDate.ToShortDateString()
                </td>
                <td>@viewHelper.GetInitials(appeal.CreateUser)</td>
                <td>
                    @{
                        if(appeal.CreateUser.Id == UserManager.GetUserId(User))
                        {
                            <button class="btn btn-outline-primary btn-sm update" onclick="window.location.href='@Url.Action("EditAppealConsider", "Data", new {id=@appeal.Id})';">
                                <i class="fas fas-table fa-edit"></i>
                            </button>
                    
                            <button type="button" class="btn btn-outline-danger btn-sm" style="font-size:10px;"
                                 data-toggle="modal" data-target="#comfirmDelete" data-action="@removeaction" data-name="организация" data-controller="@Controller"
                                 data-item="@appeal.Id"> <i class="fas fas-table fa-trash-alt"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-outline-primary btn-sm update" onclick="window.location.href='@Url.Action("ViewAppealConsider", "Data", new {id=@appeal.Id})';">
                                <i class="fas fas-table fa-eye"></i>
                            </button>
                        }

                    }

                </td>
                <td class="addinfotd">@appeal.AddInfo</td>
            </tr>
        }
    </tbody>
</table>




<!-- Model Comfirm Delete  -->
<div class="bd-example">
    <div class="modal fade" id="comfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                        <input type="hidden" id="itemId" />
                        <button id="modalDeleteButton"
                                type="submit"
                                class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
