@model List<RequestModel>
@{
    ViewData["Title"] = "Письма";
}

<div class="text-center">
    <h1 class="display-7">Письма</h1>
</div>


@{
    string Name = "Appeals";
    string Controller = "Data";
    string removeaction = "Remove" + Name;
}

@{
    List<string> GetColor(DateTime date)
    {
        var a = date - DateTime.Now;
        string color = "";
        if (a.Days <= 3)
            color="#ff2400";
        else if (a.Days <= 6 && a.Days > 3)
            color="#fde910";
        else color="#228b22";

        string days ="";

        if(a.Days == 0)
            days = "менее 1 дня";
        else if(a.Days == 1)
            days = "1 день";
        else if(a.Days > 1 && a.Days < 5)
            days = $"{a.Days} дня";
        else
            days = $"{Math.Abs(a.Days)} дней";

        var ost = "";
        if(a.Days < 0)
            ost = $"просрочка {days}";
        else ost = $"осталось {days}";


        List<string> list = new();
        list.Add(color);
        list.Add(ost);

        return list;
    }
}

   <hr class="line-h1" >

    <table id="appealtable" class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col" style="width:10%;">#</th>          
            <th scope="col" style="width:10%;">Вр и отправленный</th>   
            <th scope="col" style="width:10%;">Статус</th>  
            <th scope="col" style="width:15%;">Срок</th>
            <th scope="col" style="width:30%;">Организации</th>
            <th scope="col" style="width:5%;">Создано</th>
            <th scope="col" style="width:20%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appeal in Model)
        {
            <tr>
                <td>№ @appeal.DocName <br> @appeal.DocDate.ToShortDateString()</td>
                <td>Вр-@appeal.WorkNumber <br>№ @appeal.SendNumber </td>
                <td>@appeal.Status.Name <br> @appeal.DockType.Name </td>
                <td>
                    @{
                    var a = @GetColor(appeal.ExpireDate);
                        if(appeal.Status.Id == 5)
                        {
                            a[0] = "#228b22";
                            a[1] = "Закрыт";
                        }

                    }

                    <div style="background-color:@a[0]; padding:5px; border-radius:5px;">
                         <b>@appeal.ExpireDate.ToShortDateString()</b>
                         <p style="margin-bottom: 0;">(@a[1])</p>
                    </div>     
                 </td>
                <td>@{
                        var recname = "";
                        if (String.IsNullOrEmpty(appeal.RecipientAgency.ShortName))
                            recname = appeal.RecipientAgency.Name;
                        else recname = appeal.RecipientAgency.ShortName;
                    }
                    @{
                        var trname = "";
                        if (String.IsNullOrEmpty(appeal.TransferAgency.ShortName))
                            trname = appeal.TransferAgency.Name;
                        else trname = appeal.TransferAgency.ShortName;
                    }
                    1. @recname <br> 2. @trname </td>
                <td>@appeal.CreationDate.ToShortDateString()</td>
                <td class="align-middle">
                    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("EditAppealConsider", "Data", new {id=@appeal.Id})';">
                        <i class="fas fas-table fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm" style="font-size:10px;"
                            data-toggle="modal" data-target="#comfirmDelete" data-action="@removeaction" data-name="организация" data-controller="@Controller"
                            data-item="@appeal.Id"><i class="fas fas-table fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>




<!-- Model Comfirm Delete  -->
<div class="bd-example">
    <div class="modal fade" id="comfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                        <input type="hidden" id="itemId" />
                        <button id="modalDeleteButton"
                                type="submit"
                                class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
