@model List<DocumentModel>
@using RosreestDocks.Contexts
@inject DataBaseContext db



<title>Документы/шаблоны</title>
<div class="text-center">
    <h1 class="display-4">Документы</h1>
</div>


@{
    string Name = "Document";
    string ActionNameForUpdate = "ShowUpdate" + Name +"Modal";
    string ActionNameForAdd = "ShowCreate" + Name +"Modal";
    string ActionNameForDownload = "Download" + Name;
    string modal = "update" +Name+ "Modal";
    string content = "update" + Name + "Content";
    string createmodal = "create" +Name+ "Modal";
    string createcontent = "create" + Name + "Content";
    string removeaction = "Remove" + Name;
}

   <button class="btn btn-outline-primary btn-sm create" data-name="@Name" asp-controller="Data" asp-action="@ActionNameForAdd">Добавить</button>
   <hr class="line-h1" >
@{
        <table class="table table-sm table-hover docs">
            <thead>
                <tr>
                    <th scope="col" style="width:5%;">#</th>          
                    <th scope="col" style="width:20%;">Название</th>  
                    <th scope="col" style="width:25%;">Описание</th> 
                    <th scope="col" style="width:20%;">Категория</th>   
                    <th scope="col" style="width:10%;">Обновление</th> 
                    <th scope="col" style="width:40%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>@doc.Id</td>
                        <td>
                            @{
                            var name = db.Documents.Where(x => x.Id == doc.Id).SingleOrDefault().Name;
                            }
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-toggle="modal" data-target="#showPdf" data-name="@name" onclick="showPdf(this)" >@doc.Name</button>
                         </td>
                        <td>@doc.Discription</td>
                        <td>@doc.Category.Name</td>
                        <td>@doc.LastUpdate.ToShortDateString()</td>
                        <td class="align-middle">
                            <button class="btn btn-outline-primary btn-sm update" 
                                asp-controller="Data"
                                asp-action="@ActionNameForDownload"
                                asp-route-id="@doc.Id" ><i class="fas fas-table fa-download"></i></button>

                            <button class="btn btn-outline-primary btn-sm update" 
                                asp-controller="Data" data-name="@Name"
                                asp-action="@ActionNameForUpdate"
                                asp-route-id="@doc.Id" ><i class="fas fas-table fa-edit"></i></button>

                            <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-toggle="modal" data-target="#comfirmDelete" data-action="@removeaction" data-name="шаблон"
                                    data-item="@doc.Id"><i class="fas fas-table fa-trash-alt"></i> </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>       
   
}


<script src="~/js/pdf.js"></script>
<script src="~/js/pdfhelper.js"></script>





<!-- Modal Add Org-->
<div id="@createmodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="@createcontent" class="modal-dialog modal-lg"></div>
</div>

<!-- Modal Update Org-->
<div id="@modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="@content" class="modal-dialog modal-lg"></div>
</div>



<!-- Model Comfirm Delete  -->
<div class="bd-example">
    <div class="modal fade" id="comfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                        <input type="hidden" id="itemId" />
                        <button id="modalDeleteButton"
                                type="submit"
                                class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bd-example">
    <div class="modal fade" id="showPdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                      <button id="prev">Previous</button>
                      <button id="next">Next</button>
                      &nbsp; &nbsp;
                      <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                    </div>
                    <canvas id="the-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


